
/* Defult CSS */
h3{
    font-size: 2rem;
}
/* For Deshtop */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Heading Section Start */

.nav-logo{
    text-align: left;
}

.nav-heading h1{
 text-align:  left;
text-align: justify;
}

.nav-menu {
    flex-direction: row;
    justify-content: flex-end;
     
}

.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
    
}
.nav-menu a:hover{
    background-color:#22a6b3;
}
 
/* Heading Section End */


/* About Me Section Start */

.about-img img{
    margin-top: 120px;
    width: 235px;
}
.about-dec p{
    text-align: left;
}
.btn-div .btn{
    padding: 15px;
    font-size: 1.1rem;
    margin-top: 18px;
}

/* About Me Section End */

/* Work Section Start */

.wes{
    padding: 3% ;
    font-size: 1.3rem;
}
.card{
    height: 1000px;
}


/* Work Section End */

/* Achievement-Contact Section Start */

.contact{
    font-size: 1.3rem;
    padding: .8% 2%;
}
.contact button{
    font-size: 1.096rem;
    width: 30%;
    
}
.social-link{
    position: relative;
}
.media-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
    
  
    
    
}
.media-button .del{
    visibility: visible;
}  
.media-button .s-btn{
    margin: 9%;
}

/* Achievement-Contact Section End */



/* Footer Secton */
.footer-menu a{
 display: inline;
}

.footer-dec p{
    font-size: 1.1rem;
}